<div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/IMDB_Logo_2016.svg/1200px-IMDB_Logo_2016.svg.png" height=30 width=50 alt="img-logo"></a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" class="diff" routerLink="/signup" routerLinkActive="active" ><span class="glyphicon glyphicon-user"></span> SignUp</a></li>
            <li><a href="#" class="diff1" routerLink="/login" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </nav>
    </div>