<div class="body">
    <div class="searchBar container" >
        <form class="form-group search-container">
            <div class="form-group search" >
                <input type="text" size="33%" (keyup)="updateSearch()" class="form-control" id="search" aria-describedby="emailHelp" [formControl]="name" placeholder="Search for movies">
                <small id="emailHelp" class="form-text text-muted">Search by movie titles.</small>
            </div>
        </form>
    </div>

      <div class="container landing">
          <div class="card" *ngFor="let movie of moviesResults" style="width: 18rem;">
              <img class="card-img-top" src={{movie.poster}} height="350px" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title" style="text-align: center">
                  <a routerLink='display' [state]="movie" routerLinkActive="router-link-active" routerLinkActive="router-link-active" >
                    {{movie.title}}
                  </a>
                </h5>
              </div>
          </div>
      </div>
</div>