.landing {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2em;
}

.searchBar{

    margin-top: 6em;
    text-align: center
  
  }

  /* https://gmdb-ea5be.firebaseapp.com */